<div class="container custom-container mt-5 pt-5 shadow rounded-5 ">
  <div class="row img-container">
    <div class="col-12 mb-5 pb-2">
      <img src="../../assets/images/time_managment.svg" alt="Time Management" class="mt-4 pt-5 mb-5 pb-3 img-fluid"/>
    </div>
  </div>
  <div class="row frase-container">
    <div class="col-12 mt-5 ms-3">
      <div *ngFor="let frase of frases">
        <h3>{{ frase.title }}</h3>
        <p>{{ frase.description }}</p>
      </div>
      <button type="button" class="circular-button mb-4">
        <i class="bi bi-arrow-right arrow"></i>
      </button>
    </div>
  </div>
</div>
