<div class="container custom-container mt-5 pt-5 shadow rounded-5 disable-selec" [style.background-color]="frases[currentStep].bgcolor"[@bounce]="currentStep">
  <div class="row img-container" >
    <div class="col-12 mb-5 pb-2">
      <img [src]="frases[currentStep].img" alt="Time Management" class="mt-4 pt-5 mb-5 pb-3 img-fluid"/>
    </div>
  </div>
  <div class="row frase-content">
    <div class="col-12 mt-5 ms-3 pe-4">
      <div>
        <h3>{{ frases[currentStep].title }}</h3>
        <p>{{ frases[currentStep].description }}</p>
      </div>
      <ul>
        <li [class.active]="0 === currentStep" (click)="selectSlide(0)"></li>
        <li [class.active]="1 === currentStep" (click)="selectSlide(1)"></li>
        <li [class.active]="2 === currentStep" (click)="selectSlide(2)"></li>
      </ul>
      <button type="button" class="circular-button-right mb-4" (click)='next()' [hidden]="currentStep === frases.length - 1">
        <i class="bi bi-arrow-right arrow-right"></i>
      </button>
      <button type="button" class="circular-button-left mb-4" (click)='prev()' [hidden]="currentStep === 0">
        <i class="bi bi-arrow-left arrow-left"></i>
      </button>
    </div>
  </div>
</div>
